<h3>Welcome {{name}}</h3>

<div id="chronicles">
    <div class="section">
        <h5>Chronicles</h5>
        {{#if chronicles}}
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created On</th>
                    <th>Privacy Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each chronicles}}
                <tr>
                    <td class="title-column"><a href="/chronicles/{{_id}}" class="light-blue-text text-darken-3">{{title}}</a></td>
                    <td class="date-column">{{formatDate createdAt 'LL'}}</td>
                    <td class="type-column"><span>{{status}}</span></td>
                    <td class="icons-column">
                        <a href="/chronicles/edit/{{_id}}" class="btn btn-float light-blue darken-3">
                            <i class="fas fa-edit"></i>
                        </a>
    
                        <form action="/chronicles/{{_id}}?_method=DELETE" method="POST">
                            <button type="submit" class="btn red lighten-1">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>You have not created any chronicles yet.</p>
        {{/if}}
    </div>
    <a href="/chronicles/add" class="btn teal darken-1">Add chronicle</a>
</div>

<div id="records">
    <div class="section">
        <h5>Medical Records</h5>
        {{#if records}}
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Uploaded On</th>
                    <th>Record Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each records}}
                <tr>
                    <td class="title-column"><a href="/records/{{_id}}" class="light-blue-text text-darken-3">{{title}}</a></td>
                    <td class="date-column">{{formatDate createdAt 'LL'}}</td>
                    <td class="type-column"><span>{{recordType}}</span></td>
                    <td class="icons-column">
                        <a href="/records/edit/{{_id}}" class="btn btn-float light-blue darken-3">
                            <i class="fas fa-edit"></i>
                        </a>
    
                        <form action="/records/{{_id}}?_method=DELETE" method="POST">
                            <button type="submit" class="btn red lighten-1">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>You have not uploaded any medical records yet.</p>
        {{/if}}
    </div>
    <a href="/records/add" class="btn teal darken-1">Add medical record</a>
</div>