<h3>Public Chronicles</h3>
<h5>You are not alone. Explore stories from other people living with chronic, undiagnosed illness.</h5>
<div class="row section">
    {{#each chronicles}}
    <div class="col s12 m6 l4">
        <div class="card blue-grey">
            {{!-- <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div> --}}
            <div class="card-content white-text">
                <span class="card-title center-align">{{title}}</span>
                <div class="left-align">
                {{#if freestyleBody}}
                    <p>{{stripTags (truncate freestyleBody 150)}}</p>
                {{/if}}
                {{#if chronologicalBody}}
                    <span>{{chronologicalBody.[0].startDate}} - {{chronologicalBody.[0].endDate}}</span>
                    <p>{{stripTags (truncate chronologicalBody.[0].chronologicalText 150)}}</p>
                {{/if}}
                {{#if categoricalBody}}
                    <span>{{categoricalBody.[0].topic}}</span>
                    <p>{{stripTags (truncate categoricalBody.[0].categoricalText 150)}}</p>
                {{/if}}
                </div>
                <br>
                <div class="center-align">
                    <div class="chip">
                        <img src="{{user.image}}" alt="">
                        <a href="/chronicles/user/{{user._id}}" class="grey-text text-darken-1">{{user.displayName}}</a>
                    </div>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/chronicles/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No chronicles to display</p>
    {{/each}}
</div>